---
---
@import "minima";

/* サイトタイトルの色を濃いグレーに変更 */
.site-title, .site-title:visited {
  color: #333333 !important;
  text-decoration: none;
}

/* マウスを重ねた時は少しだけ黒くする */
.site-title:hover {
  color: #000000 !important;
}

/* フッター領域を完全に非表示にする */
.site-footer {
  display: none !important;
}
